.box{
	width:100%;
    background:#3f51b5;
}
    

.banner{
    color: white;
    font-size: large;
}

.nav-pills
{
    background-color: #3f51b5;
}

.nav-item{
    background-color: #3f51b5;
}

.nav-link{
    color: white;
}